.calc_wrapper {
	width: 100px;
	height: 130px;
	border: solid 1px black;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.calk_line_1-3, .calk_line_4-6, .calk_line_7-9 {
	display: flex;
	justify-content: space-between;
}

.calc_display{
	height: 20px;
	width: 100%;
	border: 1px solid black;
	background-color: rgb(226, 242, 255);
	text-align: right;
}

.calc_display.active{
	background-color: rgb(213, 253, 153)
}

.calc-button:{
	background-color: rgb(217, 225, 250);
}
.calc-button{
	background-color: rgb(217, 225, 250);
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	cursor: pointer;
}

.calc-button.focus{
	border: 1px solid red;
}

.calc-button.active{
	background-color: rgb(222, 250, 217);
}