.calc_wrapper{
	background-color:rgb(36, 36, 36);
	width: 300px;
	height: 450px;

	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 8px;
}
.calk_line_1-3, .calk_line_4-6, .calk_line_7-9 {
	display: flex;
	justify-content: space-between;
}

.calc-display{
	height: 80px;
	width: 100%;
	background-color: rgb(226, 242, 255);
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-around
}

.calcSpan{
font-size: 20px;
}
.calc-display-span{
	margin-right: 10px;
}
.calc-result{
	margin-right: 10px;
	font-size: 30px;
	font-weight: 600;
}
.calc_display.active{
	background-color: rgb(255, 251, 40)
}

.calc-button{
	background-color: rgb(184, 184, 184);
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 32px;
	border-radius: 50%;
	text-align: center;
	line-height: 32px;
	color: white;
	font-weight: 600;
}

.calc-button.funcButton{
	background-color: rgb(255, 174, 0);
	color: white;
	font-size: 40px;
}

.calc-button.funcButton.ac{

	font-size: 30px;
}

.calc-button.focus{
	outline: 5px solid rgb(222, 235, 50);
}

.calc-button.active{

}